<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="logo">
        <%= link_to icon('fas', 'cocktail'), cocktails_path %>
    </div>

    <div class="title-index">
      <h2>Cocktails</h2>
    </div>

    <div class="create">
      <%= link_to "Create", new_cocktail_path %>
    </div>
  </div>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, :quality=>"auto:good", height: 300, width: 285 , crop: :fill %>
        <% else %>
          <%= cl_image_tag ('t8b1dfa7a7ezk6zpaqr5'), height: 300, width: 285 , crop: :fill %>
        <% end %>
        <div class="card-name">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <div class="footer-copyright">
      L’abus d’alcool est dangereux pour la santé - <i class="fas fa-cocktail"></i> Cocktails
    </div>
  </div>
</div>
