<div>
  <h2><%= @cocktail.name %></h2>
</div>
<br>

<div>
  <% @cocktail.doses.each do |dose| %>
    <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p><%= dose.ingredient.name %> - <%= dose.description %> - <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% end %>
</div>

<div>
  <%= link_to "< Add a dose", new_cocktail_dose_path(@cocktail) %>
</div>

<div>
  <%= link_to "< Back to all cocktail", cocktails_path %>
</div>
