<div>
  <h2><%= @cocktail.name %></h2>
</div>
<br>

<div>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %> - <%= dose.description %> - <%= link_to "Delete", dose_path(dose), method: :delete %></p>
  <% end %>
</div>

<div>
  <%= link_to "< Add a dose", new_cocktail_dose_path(@cocktail) %>
</div>

<div>
  <%= link_to "< Back to all cocktail", cocktails_path %>
</div>
