<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <div class="logo">
        <%= link_to icon('fas', 'cocktail'), cocktails_path %>
    </div>

    <div class="title-index">
      <h2>Cocktails</h2>
    </div>

    <div class="create">
      <%= link_to "Back", cocktails_path %>
    </div>
  </div>


<div class="container-form">
  <div class=title-form>
    <h1>Add a dose</h1>
  </div>


  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, placeholder: "Choose the ingredient" %>
    <%= f.input :description, placeholder:"Write the description" %>
    <%= f.submit "add an ingredient" %>
  <% end %>
</div>
